input[type=text]{
	width:200px;
	height:40px;
	padding: 10px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
    font-size: 20px;
    border-radius:20px;
    margin-top:5px;
}
.h1{
	text-align:center;
	background-color:crimson;
	font-family:serif;
	font-size:40px;
	border-radius:20px;
}
.Product{
	align:center;
	background-color:crimson;
}
.addProduct{
	text-align:center;
	background-color:crimson;
	border-radius:20px;
	width:500px;
	height:270px;
	margin-left:200px;
}
#submit{
	background-color:crimson;
	color:black;
	border-radius:20px;
	margin-top:15px;
	  animation: mymove 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {box-shadow: 10px 10px 30px white;}
}

#update{
	background-color:crimson;
	color:black;
	border-radius:20px;
	margin-top:15px;
	margin-left:10px;
	  animation: my 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes my {
    50% {box-shadow: 10px 10px 30px white;}
}
.displayAll{
	background-color:crimson;
	width:270px;
	margin-left:500px;
	  
	
}
.pname,.quantity,.pcost,.linetotal,.nextline{
	margin-left:10px;
}
.nextline{
	margin-top:10px;
}
body{
	background-color:crimson;
}

.nextline{
	background-color:crimson;
	font-color:black;
	border-radius:20px;
 animation: m 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes m {
    50% {box-shadow: 10px 10px 30px white;}
}
.total{
	float:right;
	background-color:crimson;
	font-weight: bolder;
  
  border-radius:10px;
 
}
.lineproduct{
	background-color:crimson;
	
	border-radius:10px;
}

input[type=submit]{
	width:75px;
	height:40px;
	color:red;
}
/*.add:focus,.add.focus{
	border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}*/