.image {
    position: fixed;
}

.menu {
    float: left;
    width: 200px;
    height: 300px;
    display: none;
    position: staic;
}

.menutwo{
   display:none;
   position:fixed;
    margin-top: 20px;
    margin-left: 130px;
    float: right;
    width: 300px;
    height: 200px;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    margin-top: 30px;
    font-size: 22px;
}

.menu li:hover {
    background-color: blue;
    color: white;
    cursor:pointer;
    width:100px;
    
}
#divdea
{
	display:none;
}

buttons {
    float: right;
}
.ulproduct
{
	margin-top:-100px;
}
.uldealer
{
	margin-top:-40px;
}
.ulpurchase{
	margin-top:60px;
}
.ulsales{
	margin-top:115px;
}
.ulexpense{
	margin-top:180px;
}
