
.image
{
position:fixed;	
}

.menu
{

	float:left;
	width:200px;
	height:300px;
	display:none;
	position: staic;
	
}
.menutwo
{
   
	width:300px;
	dispaly:none;
	height: 200px;
	margin-top:200px;
	margin-right:50px;


}
.menu ul
{
	list-style-type: none;
}
.menu li
{
	padding-top: 30px;
	font-size: 22px;
}
#buttons
{
	float:right;
}